<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>

    <add key="HubotUri" value="ws://172.31.40.209:4773" />
    <add key="OcsServer" value="win-lync-1.ad.sturrock.org" />
    <add key="UserSipUri" value="sip:oilbot@ad.sturrock.org" />
    <add key="OcsUsername" value="OilBot@ad.sturrock.org" />
    <add key="LookupServerUri" value="sip:ocschat@ad.sturrock.org" />
    <add key="ChatRoomName" value="Chatbot_Test" />

  </appSettings>
</configuration>